body {
    background-color: aquamarine;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
h1 {
    color: black;
    background-color: cornflowerblue;
}
h2{
    color: burlywood;
}
p{
    text-align: justify;
}
