@charset "UTF-8";

*{
    /*height: 100%;*/
    font-family: Arial, Helvetica, sans-serif;

}
main{
    background-color: black;
    width: 600px;
    padding: 30px;
    margin: auto;
    border-radius: 4%;

}

body{
    background-image: linear-gradient(-45deg, #629E87, #AAEBD2);
    background-attachment: fixed;
    text-align: center;
}
h1{
    color: #629E87;
    text-align: justify;
}
h2{
    color: #EBB4A9;
}
p {
    text-align: justify;
    color: white;
}